@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  /* For Firefox */
  overflow-y: scroll;
  scrollbar-color: #636680 #31354e;
  scrollbar-width: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #31354e;
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #636680;
  border-radius: 30px;
  transition: all linear 0.2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: 0px 0px 10px #3a3e63;
}

body {
    background-color: #222431;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 96px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 45px;
    margin: 20px 0px;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #FFF;
    border-radius: 3px;
    color: #FFF;
    text-decoration: none;
    transition: all linear 0.2s;
    user-select: none;
}

.button:hover {
    background-color: #636380;
}

h1 span {
    font-size: 16px;
}

header {
    width: 100%;
    height: auto;
    color: #FFF;
}
header .header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border-bottom: 0.5px solid #7e839a;*/
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
}

header .header .header--logo {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    user-select: none;
}

header .header .header--logo img {
    width: 50px;
    height: 50px;
    pointer-events: none;
}

header .header .header--menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .header .header--menu nav {
    font-family: sans-serif;
    text-transform: uppercase;
    color: #FFF;
    border-bottom: 1px solid #2c3e50;
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 15px;
    transition: all linear 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

header .header .header--menu nav:last-child{
    margin-right: 0px;
}

header .header .header--menu nav:hover {
    border-bottom: 1px solid #5f627b;
}

/* SECTION 1 --- AREA 1 / BANNER*/

.banner {
    width: 100%;
    height: auto;
    background-image: url(../images/3.0\ NEW\ DESIGN\ BASTEON.svg);
    background-size: cover;
    background-position: center;
}

.background {
    background-color: rgba(34, 36, 49, 0.7);
    width: 100%;
    height: 100%;
}

.banner--background {
    width: 100%;
    height: auto;
    background-color: rgba(34, 36, 49, 0.7);
    padding-top: 90px;
    padding-bottom: 90px;
}

.banner--span {
    color: white;
    
}

.banner--images {
    margin-top: 60px;
    width: 100%;
    height: auto;
    display: flex;
}

.banner--images figure {
    width: auto;
    height: auto;
    text-align: center;
    margin-right: 40px;
}

.banner--images figure div {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid #5f627b;
    border-radius: 50%;
    margin-bottom: 10px;
}

.banner--images figure div i {
    color: white;
    font-size: 70px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.banner--images figure figcaption {
    color: white;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

/*AREA 1*/
.bar {
    background-color: #636380;
    width: 168px;
    height: 25px;
}

.area1 {
    color: white;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1--content {
    padding: 80px;
}

.area1--img1 {
    background-image: url(../images/person.svg);
    background-position: center;
    background-size: small;
    background-repeat: no-repeat;
}

.area1--quote {
    margin-bottom: 30px;
}

.area1--text {
    line-height: 25px;
    margin-bottom: 50px;
}

/*AREA 2*/
.bar {
    background-color: #636380;
    width: 168px;
    height: 25px;
}

.area2 {
    color: white;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area2--content {
    padding: 80px;
}

/*
.area2--content a {
    float: right;
}
*/

.area2--img1 {
    background-image: url(../images/internet-shield.svg);
    background-position: center;
    background-size: 275px;
    background-repeat: no-repeat;
    /*
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-column: 2;
    */
    grid-area: 1 / 1 / 2 / 2;
}

.area2--quote {
    margin-bottom: 30px;
}

.area2--text {
    line-height: 25px;
    margin-bottom: 50px;
}




/*AREA 3*/
.bar {
    background-color: #636380;
    width: 168px;
    height: 25px;
}

.area3 {
    color: white;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area3--content {
    padding: 80px;
}

.area3--img1 {
    background-image: url(../images/ads-mobile.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.area3--quote {
    margin-bottom: 30px;
}

.area3--text {
    line-height: 25px;
    margin-bottom: 50px;
}




/*AREA 4*/
.area4 {
    color: white;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area4--content h2 span {
    font-size: 16px;
}

.area4--content {
    padding: 80px;
}

.area4--img1 {
    background-image: url(../images/background-logo-basteon.svg);
    background-position: center;
    background-size: 34%;
    background-repeat: no-repeat;
    /*
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-column: 2;
    */
    grid-area: 1 / 1 / 2 / 2;
}

.area4--quote {
    margin-bottom: 30px;
}

.area4--text {
    line-height: 25px;
    margin-bottom: 50px;
}




/*AREA 5*/
.area5 {
    color: white;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area5--content h2 span {
    font-size: 16px;
}

.area5--content {
    padding: 80px;
}

.area5--img1 {
    background-image: url(../images/money-revenda-icon.svg);
    background-position: center;
    background-size: 32%;
    background-repeat: no-repeat;
}

.area5--quote {
    margin-bottom: 30px;
}

.area5--text {
    line-height: 25px;
    margin-bottom: 50px;
}



/*AREA 6*/
.area6 {
    color: white;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area6--content h2 span {
    font-size: 16px;
}

.area6--content {
    padding: 80px;
}

.area6--img1 {
    background-image: url(../images/revenda-icon.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    /*
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-column: 2;
    */
    grid-area: 1 / 1 / 2 / 2;
}

.area6--quote {
    margin-bottom: 30px;
}

.area6--text {
    line-height: 25px;
    margin-bottom: 50px;
}




/*AREA 10*/
.area10 {
    color: white;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area10--content h2 span {
    font-size: 16px;
}

.area10--content {
    padding: 80px;
}

.area10--img1 {
    background-image: url(../images/terms.svg);
    background-position: center;
    background-size: 25%;
    background-repeat: no-repeat;
    /*
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-column: 2;
    */
    grid-area: 1 / 1 / 2 / 2;
}

.area10--quote {
    margin-bottom: 30px;
}

.area10--text {
    line-height: 25px;
    margin-bottom: 50px;
    display: block;
}

body > main > section.area10 > div.area10--content > ul > li {
    margin-bottom: 27px;
}


/*AREA 7*/
.area7 {
    color: white;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area7--content h2 span {
    font-size: 16px;
}

.area7--content {
    padding: 80px;
}

.area7--img1 {
    background-image: url(../images/icon-download.svg);
    background-position: center;
    background-size: 32%;
    background-repeat: no-repeat;
}

.area7--quote {
    margin-bottom: 30px;
}

.area7--text {
    line-height: 25px;
    margin-bottom: 50px;
}






/*AREA 8*/
.area8 {
    width: 100%;
    height: auto;
    padding-bottom: 80px;
}

.area8 .container {

}

.area8 .container .area8--content h2 {
    text-align: center;
    margin-bottom: 40px;
}

.area8--content h2 span {
    font-size: 16px;
}

.area8--contentrevendedores {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.area8--contentrevendedores figure {
    width: auto;
    height: auto;
    text-align: center;
}

.area8--contentrevendedores figure div {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid #5f627b;
    border-radius: 50%;
    margin-bottom: 10px;
}

.area8--contentrevendedores figure div img {
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 5%;
    pointer-events: none;
}

.area8--contentrevendedores figure figcaption {
    color: white;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.area8--contentrevendedores figure figcaption a {
    text-decoration: none;
    color: #FFF;
    transition: all linear 0.2s;
}

.area8--contentrevendedores figure figcaption a:hover {
    color: #636380;
}





/*AREA 9*/
.area9 {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.area8--content h2 {
    text-align: center;
}

.area8--content--area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}

.area8--content--area .area8--content--areabox {
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
    border: 1px solid #636680;
}

.area8--content--areabox .title {
    width: 100%;
    text-align: center;
}

.area8--content--areabox .title h1 {
    font-size: 45px;
    border-bottom: 1px solid #636380;
}

.area8--content--areabox .content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #636380;
}

.area8--content--areabox .content div {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 10px;
}

.area8--content--areabox .bottom {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.area8--content--areabox .bottom .button {
    margin: 15px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Oswald';
}

footer {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;
    background-color: #212431;
    border-top: 5px solid #292b3c;
    color: white;
}

footer .container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer .container a {
    text-decoration: wavy;
    color: #FFF;
    margin-top: 5px;
}




/*LAPTOP*/
@media (min-width: 769px) and (max-width:1024px) {
    .container {
        max-width: 935px;
    }
}

/*TABLET*/
@media (min-width: 426px) and (max-width: 768px) {
    .container {
        max-width: 715px;
    }
}

/*CELULARES*/
@media (min-width: 320px) and (max-width: 425px) {

    .container {
        padding: 20px;
    }

    header .header .header--menu {
        display: none;
    }

    h1 {
        font-size: 40px;
        line-height: 40px;
    }

    h2 {
        font-size: 25px;
        line-height: 30px;
    }
    
    .banner--images figure div {
        width: 70px;
        height: 70px;
    }

    .banner--images figure div i {
        font-size: 35px;
    }

    .area1,
    .area2,
    .area3,
    .area4,
    .area5,
    .area6,
    .area7,
    .area10 {
        grid-template-columns: 1fr;
    }

    .area1--content {
        background-image: url(../images/mobile/person.svg);
        background-repeat: no-repeat;
        background-position: left;
    }

    .area2--content {
        background-image: url(../images/mobile/internet-shield.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
    }

    .area3--content {
        background-image: url(../images/mobile/ads-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
    }

    .area4--content {
        background-image: url(../images/mobile/background-logo-basteon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
    }

    .area5--content {
        background-image: url(../images/mobile/money-revenda-icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
    }

    .area6--content {
        background-image: url(../images/mobile/revenda-icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
    }
    
    .area10--content {
        background-image: url(../images/mobile/terms.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
    }

    .area7--content {
        background-image: url(../images/mobile/icon-download.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
    }

    .area1--content,
    .area2--content,
    .area3--content,
    .area4--content,
    .area5--content,
    .area6--content,
    .area7--content,
    .area10--content {
        padding: 15px;
    }

    .area8 {
        padding-bottom: 0px;
    }

    .area8--contentrevendedores {
        flex-direction: column;
        align-items: center;
    }

    .area8--contentrevendedores figure {
        padding: 40px;
    }

    .area8--contentrevendedores figure::last-child {
        padding: 0px;
    }

    .area8--content--area {
        grid-template-columns: 1fr;
    }

    .area8--content--areabox .title h1 {
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    footer {
        padding: 0px;
    }

    footer .container span {
        padding-top: 10px;
    }
}